.home {
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 370px;
  width: 20rem;
  height: 24rem;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 0.5rem;

  padding: 0.5rem;
  margin: 1rem auto;
}

.wrapper > .btn {
  background-color: #0d4f86;
  border: none;
  font-size: large;
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.heroImgWrap {
  min-height: 392px;
  min-width: 392px;
  padding: 0.5rem;
  margin: auto;
}

.heroImg {
  object-fit: contain;
  width: 25rem;
  height: auto;
}

/* responsive for mobile */
@media only screen and (max-width: 480px) {
  .heroImgWrap {
    display: none;
  }
}
