.wrapper {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  max-width: 420px;
  width: 20rem;
  height: 24rem;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 0.5rem;

  border: 1px solid salmon;
  padding: 0.5rem;
}

/* .wrapper a.btn {
  padding: 0.5rem;
  color: white;
  background-color: #0d4f86;
  border: none;
  font-size: large;
  border-radius: 1rem;
  cursor: pointer;
} */

.wrapper > .btn {
  background-color: #0d4f86;
  border: none;
  font-size: large;
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.heroImgWrap {
  position: relative;
  width: 36rem;
  height: 36rem;
}

.heroImg {
  object-fit: contain;
  width: 25rem;
  height: auto;
  position: absolute;
  top: 5rem;
  left: 3rem;
  opacity: 0.8;
  z-index: 5;
  /* background-color: aquamarine; */
}
