.tabsWrapper {
  min-width: 275px;
  height: auto;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
  box-shadow: 2px 2px 22px 0px rgb(0 0 0 / 75%);
  position: relative;
  top: 2rem;
}

.tabs {
  display: flex;

  justify-content: space-evenly;
}

.tabSelect {
  width: 100%;

  text-align: center;
  padding: 1rem 0.5rem;
  font-size: larger;
  cursor: pointer;

  border-right: 1px solid rgb(59, 59, 59);

  border-bottom: 1px solid rgb(59, 59, 59);

  transition: ease-in-out 0.5s;

  background-color: rgb(50, 122, 255);
  color: white;
}
.tabs :last-child {
  border-right: none;
}

.tabSelect.active {
  background-color: white;
  color: blue;
  border-bottom: none;
}

.tabData {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  gap: 1rem;
  padding: 1rem;
}

.tabData img {
  max-width: 40%;
  min-width: 150px;
  padding: 0.5rem;
}
.data {
  display: flex;
  max-width: 60%;
  min-width: 275px;
  flex-direction: column;
  line-height: 2rem;
}

.data h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.data p {
  color: gray;
}

/* responsive for tab */

@media only screen and (max-width: 665px) {
  .tabData {
    flex-direction: column;
  }
  .tabData img {
    max-width: 100%;
  }
  .tabData .data {
    max-width: 100%;
  }
  .tabsWrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
