.modulePageWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 1rem;
  left: 3.75rem;
  right: 3.75rem;
  background-color: rgba(255, 255, 255, 0.466);
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.header-l {
  margin: 0 0.5rem;
  font-size: larger;
  text-transform: uppercase;
  color: #52004e;
}
.search-icn {
  cursor: pointer;
}
